Repository Uninett/Argus, pull requests merged in 2024-02, with the labels that each got.

#713 Add a query-parameter to incident list to filter on a list of incident pks
  CHANGELOG.md
  src/argus/incident/V1/views.py
  src/argus/incident/filters.py
  src/argus/incident/views.py
Labels: API, filter

#719 Add two development dependencies
  changelog.d/+two-optional-dependencies.added.md
  pyproject.toml
Labels: dependencies

#723 Run on Python 3.12
  .github/workflows/python.yml
  changelog.d/+python-3-12.added.md
  tox.ini
Labels: dependencies

#711 Change to ArrayField for TimeRecurrence.days from MultiSelectField
  changelog.d/707.changed.md
  src/argus/notificationprofile/factories.py
  src/argus/notificationprofile/migrations/0001_squashed_0015_remove_days_alter_days_array.py
  src/argus/notificationprofile/migrations/0014_timerecurrence_days_array.py
  src/argus/notificationprofile/migrations/0015_remove_days_alter_days_array.py
  src/argus/notificationprofile/models.py
Labels: data model, dependencies

#727 Allow multiple notificiation profiles with empty names
  changelog.d/+profile-without-name.fixed.md
  src/argus/notificationprofile/serializers.py
  tests/notificationprofile/test_views.py
Labels: bug

#725 Updated changelog and notes for new version
  CHANGELOG.md
  NOTES.md
  changelog.d/+profile-without-name.fixed.md
  changelog.d/+python-3-12.added.md
  changelog.d/+towncrier-changelog.added.md
  changelog.d/+two-optional-dependencies.added.md
  changelog.d/244.added.md
Labels: rc-next

#726 When faking an incident via django admin, make it possible to set the same things as in CLI
  changelog.d/669.added.md
  src/argus/incident/admin.py
  src/argus/incident/forms.py
  src/argus/incident/templates/incident/admin/fake_incident_add_form.html
  src/argus/incident/templates/incident/admin/incident_change_list.html
Labels: admin
