Repository Uninett/Argus, pull requests merged in 2024-05, with the labels that each got.

#789 Only show user's filters in profile admin change page
  changelog.d/735.changed.md
  src/argus/notificationprofile/admin.py
Labels: admin

#805 Allow a source to delete its incidents in API
  changelog.d/804.added.md
  docs/api.rst
  docs/site-specific-settings.rst
  src/argus/incident/views.py
  src/argus/site/settings/base.py
  tests/incident/test_views.py
Labels: documentation, enhancement, question, discussion, data model, API, agent

#821 Append to search_text instead of replacing it
  src/argus/incident/models.py
  src/argus/incident/views.py
Labels: API, API v2, optimization
