Repository Uninett/Argus, pull requests merged in 2025-07, with the labels that each got.

#1510 Add demo link to readme
  README.md
  changelog.d/add-demo-link-to-readme.changed.md
Labels: documentation, demo

#1511 Fix broken links in user manual
  changelog.d/1492.fixed.md
  docs/user-manual.rst
Labels: bug, documentation, user manual

#1516 Send request into ticket creation function
  changelog.d/+fix-request-to-ticket-creation.fixed.md
  src/argus/htmx/incident/views.py
Labels: bug
